<div class="container-fluid">

  <div class="centered-body">
    <div class="log-in-div">
      <div>
        <p class="big-font">SIGN UP</p>
      </div>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <div class="flex-items">
            <%= f.input :first_name,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "first name" }%>
            <%= f.input :last_name,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "last name" }%>
          </div>

          <div class="flex-items">
            <%= f.input :username,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "last name" }%>
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }%>
          </div>

          <div class="field">
            <%= f.label :username %>
            <%= f.text_field :username, autofocus: true, autocomplete: "username" %>

            <%= f.label :image %>
            <%= f.file_field :image, autofocus: true, autocomplete: "image" %>
          </div>

          <div>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
          </div>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Sign up", class: "white-medium-font log-in-button mb-3" %>
      <% end %>

        <%= render "devise/shared/links" %>
      </div>

    </div>
  </div>
</div>
