<div class="profile-container">
  <div class="profile-banner">
    <div class="profile-img-info">
      <div>
        <%= image_tag "guy-portrait.jpg", :class => "img-profile" %>
      </div>
      <div>
        <h1 class="bold-medium-font">@<%= @seller.user.username %></h1>
        <p class="bold-small-font">Joined: <%= @seller.created_at.strftime('%b %d %Y') %></p>
      </div>
    </div>
    <div class="button-size">
      <p class="small-font">Products by @<%= @seller.user.username %>: <%= @seller.products.count %></p>
    </div>
  </div>

  <h1 class="big-font">Products by @<%= @seller.user.username %></h1>
    <% if @seller.products.empty? %>
      <p class="small-font">This seller hasn't posted any products yet.</p>
    <% else %>
      <% @seller.products.each do |product| %>
        <div class="pt-2">
          <div class="order-card">
            <div class="img-order"></div>
            <div class="info-section">
              <p class="bold-small-font mb-2"><%=link_to product.name, product_path(product)%></p>
              <p class="smaller-font mb-1"><%=link_to product.brand, product_path(product)%></p>
            </div>

            <div class="price-section">
              <p class="bold-smaller-font mb-3"><%=product.price%>$</p>
            </div>
          </div>
          <hr>
        </div>
      <% end %>
    <% end %>

  <% if @seller.user == current_user %>
    <div class="button-size">
      <p class="black-btn white-small-font"><%= link_to "Create a new product", new_product_path %></p>
    </div>
  <% end %>
</div>
