<div class="profile-container">
  <div class="profile-banner">
    <div class="profile-img-info">
      <div>
        <%= image_tag "guy-portrait.jpg", :class => "img-profile" %>
      </div>
      <div>
        <p class="big-font"><%= "#{@user.first_name} #{@user.last_name}" %></p>
        <h1 class="bold-medium-font">@<%= @user.username %></h1>
        <p class="bold-small-font">Joined: <%= @user.created_at.strftime('%b %d %Y') %></p>
      </div>
    </div>
    <div class="button-size">
      <% if @user.seller.nil? %>
        <p class="black-btn white-small-font"><%= link_to "Create a seller account", new_user_seller_path(current_user) %></p>
      <% else %>
        <p class="black-btn white-small-font"><%= link_to "See your seller profile", user_seller_path(current_user.seller) %></p>
      <% end %>
    </div>
  </div>

  <h1 class="big-font">Purchases</h1>
    <% if @user.orders.empty? %>
      <p class="small-font">You haven't made any purchases yet.</p>
    <% else %>
      <% @user.orders.each do |order| %>
        <div class="pt-2">
          <div class="order-card">
            <div class="img-order"></div>
            <div class="info-section">
              <p class="bold-small-font mb-2"><%=link_to order.product.name, product_path(order.product)%></p>
              <p class="smaller-font mb-1"><%=link_to order.product.brand, product_path(order.product)%></p>
              <p class="bold-small-font"><%= order.created_at.strftime('%b %d %Y') %></p>
            </div>

            <div class="price-section">
              <p class="bold-smaller-font mb-3"><%=order.product.price%>$</p>
              <div class="link">
                <% if order.product.reviews.where(user_id: current_user.id).empty? %>
                  <%= link_to "Leave a review", new_product_review_path(order.product), class: "small-link" %>
                <% end %>
              </div>
            </div>
          </div>
          <hr>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
