
<h1><%= @user.username %></h1>
<p><%= "#{@user.first_name} #{@user.last_name}" %></p>

<p>Email: <%= @user.email %></p>
<p>Joined: <%= @user.created_at %></p>

<h1>PURCHASES</h1>
<% @user.orders.each do |order| %>
  <p><%= order.created_at %></p>
  <p><%= order.product.name %></p>
  <p><%= order.product.price %></p>
<% end %>

<h1>WISHLIST</h1>
<% @user.wishlists.each do |wishlist| %>
  <p><%= wishlist.created_at %></p>
  <p><%= wishlist.product.name %></p>
  <p><%= wishlist.product.price %></p>
<% end %>

<%# CREATE A SELLER ACCOUNT %>
<% if @user.seller.nil? %>
  <%= link_to "Create a seller account", new_user_seller_path(current_user), class: "btn btn-primary" %>
<% end %>

<% if @user == current_user %>
  <%= link_to "Edit profile", edit_user_registration_path, class: "btn btn-primary" %>
<% end %>

<%= link_to "Logout", destroy_user_session_path, data: {turbo_method: :delete} %>
