<div class="container-fluid">

  <div class="bg-white">
    <ul class="medium-font categories">
      <li m-5>TOPS</li>
      <li>BOTTOMS</li>
      <li>DRESSES</li>
      <li>SHOES</li>
      <li>JACKETS</li>
      <li>JEWELRY</li>
      <li>BAGS</li>
    </ul>
  </div>

  <div class="banner">
  </div>

  <div class="section-1 pb-2">
    <h1 class="big-font centered-title">TOP BRANDS YOU LOVE</h1>
    <div class="cards">
      <div class="card">
        <%= image_tag "gucci-card.jpg", :class => "img-style pb-4" %>
        <p class="transparent-btn small-font">GUCCI</p>
      </div>

      <div class="card">
        <%= image_tag "vivienne-card.jpg", :class => "img-style pb-4" %>
        <p class="transparent-btn small-font">VIVIENNE WESTWOOD</p>
      </div>

      <div class="card">
        <%= image_tag "rick-card.jpg", :class => "img-style pb-4" %>
        <p class="transparent-btn small-font">RICK OWENS</p>
      </div>

      <div class="card">
        <%= image_tag "louis-card.jpg", :class => "img-style pb-4" %>
        <p class="transparent-btn small-font">LOUIS VUITTON</p>
      </div>
    </div>
  </div>

  <div class="section-2">
    <div class="white-background">
      <h1 class="big-font">WE'RE OBSESSED!</h1>
      <p class="medium-font">DISCOVER OUR STORE.</p>
      <p class="black-btn white-medium-font">SHOP ALL</p>
    </div>
  </div>

  <div class="section-3">
    <h1 class="big-font centered-title">SHOP BY CATEGORY</h1>
    <div class="cards">
      <div>
        <%= image_tag "category1.jpg", :class => "img-style-3" %>
        <p class="bold-medium-font pt-3 mb-2">BAGS</p>
        <p class="smaller-font">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>
        <p class="small-link small-width">SHOP NOW</p>
      </div>
      <div>
        <%= image_tag "category2.jpg", :class => "img-style-3" %>
        <p class="bold-medium-font pt-3 mb-2">SHOES</p>
        <p class="smaller-font">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>
        <p class="small-link small-width">SHOP NOW</p>
      </div>
      <div>
        <%= image_tag "category3.jpg", :class => "img-style-3" %>
        <p class="bold-medium-font pt-3 mb-2">JEWELRY</p>
        <p class="smaller-font">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>
        <p class="small-link small-width">SHOP NOW</p>
      </div>
    </div>
  </div>

  <div class="section-4 pt-5">
    <%= image_tag "guy-portrait.jpg", :class => "img_circle center-item " %>
    <p class="big-font center-item pt-3">TYRONE WEST</p>
    <p class="medium-font center-item">Selling with The Luxury Collection since 2018</p>
    <p class="small-font center-item">"The Luxury Collection is a fantastic platform for luxury clothing sellers. The customers are engaged and receptive and the platform is user-friendly. Thank you for providing such a great service."</p>
    <p class="bold-medium-font center-item">JOIN THE COMMUNITY</p>
    <p class="small-link center-item">SELL WITH US</p>
  </div>
</div>
