<div class="container-fluid">
  <%= render partial: "layouts/categories_banner" %>

  <div>
   <h1 class="big-font centered-title"><%= @title %></h1>
  </div>

  <div class="index-cards">
    <% @products.each do |product| %>
      <div class="index-card">
        <div class="img-product">
          <div class="stack-top">
            <% if user_signed_in? %>
              <% if current_user.wishlists.where(product_id: product.id).any? %>
                <i class="fa-solid fa-heart heart"></i>
              <% else %>
                <%= link_to new_product_wishlist_path(product) do %>
                  <i class="fa-regular fa-heart heart-1"></i>
                <% end %>
              <% end %>
            <% else %>
              <%= link_to new_user_session_path do %>
                <i class="fa-regular fa-heart heart-1"></i>
              <% end %>
            <% end %>
          </div>
            <% product.photos.limit(1).each do |photo| %>
              <%= cl_image_tag photo.key, class: "img-product" %>
            <% end %>
        </div>

        <p class="bold-small-font mb-2"><%=link_to product.name, product_path(product)%></p>
        <p class="smaller-font mb-1"><%=link_to product.brand, product_path(product)%></p>
        <%# interpolate size of the product without link_to%>
        <p class="smaller-font mb-1">Size <%=product.size%></p>
        <p class="bold-smaller-font mb-3"><%=product.price%>$</p>

      </div>
    <% end %>
</div>
