<h1>CREATE A NEW PRODUCT</h1>

<%= form_for @product do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :brand_id %>
  <%= f.text_field :brand %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.label :price %>
  <%= f.number_field :price %>

  <%= f.label :size %>
  <%= f.text_field :size %>

  <%= f.label :category_id %>
  <%= f.collection_select :category_id, Category.all, :id, :name %>

  <%= f.label :condition_id %>
  <%= f.collection_select :condition_id, Condition.all, :id, :name %>

  <%= f.hidden_field :seller_id, value: current_user.seller.id %>

  <%= f.submit "Create Product" %>
<% end %>
