<div class="container-fluid">

  <div class="centered-body">
    <div class="log-in-div">
      <div>
        <h1 class="big-font pb-3">CREATE A NEW PRODUCT</h1>
      </div>

      <%= form_for @product, url: products_path do |f| %>
        <div class="form-inputs">
          <div class="flex-items pb-3">
            <%= f.label :name %>
            <%= f.text_field :name %>

            <%= f.label :brand %>
            <%= f.text_field :brand %>
          </div>

          <div class="flex-items pb-3">
            <%= f.label :description %>
            <%= f.text_area :description %>

            <%= f.label :price %>
            <%= f.number_field :price %>
          </div>

          <div class="flex-items pb-3">
            <%= f.label :size %>
            <%= f.text_field :size %>

            <%= f.label :category_id %>
            <%= f.collection_select :category_id, Category.all, :id, :name %>
          </div>

          <div class="flex-items pb-3">
            <%= f.label :condition_id %>
            <%= f.collection_select :condition_id, Condition.all, :id, :name %>

            <%= f.label :photos %>
            <%= f.file_field :photos, multiple: true %>
          </div>

          <%= f.hidden_field :seller_id, value: current_user.seller.id %>
        </div>
        <%= f.submit "Create Product", class: "white-medium-font log-in-button mb-3" %>
      <% end %>
    </div>
  </div>
</div>
