<div class="container-fluid">
  <%= render partial: "layouts/categories_banner" %>


  <div class="show-container">

    <div class="padding-left product flex">
      <div class="product-small-img">

        <% @product.photos.each do |photo| %>
          <%= cl_image_tag photo.key, class: "pb-4", onclick: "myFunction(this)" %>
        <% end %>
      </div>

      <div class="img-container">
        <div class="flex-end stack-top">
          <% if user_signed_in? %>
            <% if current_user.wishlists.where(product_id: @product.id).any? %>
              <i class="fa-solid fa-heart heart"></i>
            <% else %>
              <%= link_to new_product_wishlist_path(@product) do %>
                <i class="fa-regular fa-heart heart-1"></i>
              <% end %>
            <% end %>
          <% else %>
            <%= link_to new_user_session_path do %>
              <i class="fa-regular fa-heart heart-1"></i>
            <% end %>
          <% end %>
        </div>
        <div>
          <% @product.photos.limit(1).each do |photo| %>
            <%= cl_image_tag photo.key, class: "product-show pb-4", id: "imageBox" %>
          <% end %>
        </div>

      </div>
    </div>

    <script>
      function myFunction(smallImg)
      {
        var fullImg = document.getElementById("imageBox");
        fullImg.src = smallImg.src;
      }
    </script>



    <div class="padding-right">
      <div class="pb-5">
        <h1 class="big-font"><%= @product.name %></h1>
        <h1 class="medium-font"><%= link_to @product.brand, products_path(brand: @product.brand) %></h1>
        <h1 class="medium-font">Size: <%=@product.size %></h1>
        <h1 class="bold-medium-font"><%=@product.price %>$</h1>
      </div>
      <div class="pb-5">
        <h1 class="bold-medium-font">DESCRIPTION</h1>
        <h1 class="small-font"><%= @product.description %></h1>
      </div>
      <div class="pb-5">
        <h1 class="bold-medium-font">CONDITION</h1>

        <h1 class="medium-font"><%= @product.condition.name %></h1>
      </div>
      <div class="pb-5">
        <h1 class="small-font">by <%= link_to @product.seller.user.username, user_seller_path(@product.seller) %></h1>
      </div>
      <div>
        <p class="black-btn white-medium-font"><%= link_to "BUY NOW", new_product_order_path(@product)%></p>
      </div>
    </div>
  </div>

  <%# SHOW PRODUCT REVIEWS IF ANY %>
  <% if @product.reviews.any? %>
    <div class="show-container mt-5">
      <h1 class="big-font">PRODUCT REVIEWS</h1>
      <% @product.reviews.each do |review| %>
        <div class="card mb-3">
          <div class="card-header">
            <%= link_to review.user.username, user_path(review.user) %>
          </div>
          <div class="card-body">
            <h5 class="card-title">Rating: <%= review.rating %>/5</h5>
            <p class="card-text"><%= review.comment %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
