  <div class="bg-white">
    <ul class="medium-font categories">
      <li m-5><%=link_to "TOPS", ""%></li>
      <li><%=link_to "BOTTOMS", ""%></li>
      <li><%=link_to "SHOES", ""%></li>
      <li><%=link_to "JEWELRY", ""%></li>
      <li><%=link_to "BAGS", ""%></li>
      <li><%=link_to "ALL", products_path %></li>
    </ul>
  </div>
