  <div class="bg-white">
    <ul class="medium-font categories">
    <li m-5><%=link_to "TOPS", products_path(category_id: Category.find_by(name: "Tops")) %></li>
    <li><%=link_to "BOTTOMS", products_path(category_id: Category.find_by(name: "Bottoms")) %></li>
    <li><%=link_to "SHOES", products_path(category_id: Category.find_by(name: "Shoes")) %></li>
    <li><%=link_to "JEWELRY", products_path(category_id: Category.find_by(name: "Jewelry")) %></li>
    <li><%=link_to "BAGS", products_path(category_id: Category.find_by(name: "Bags")) %></li>
      <li><%=link_to "ALL", products_path %></li>
    </ul>
  </div>
