<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <p class="logo-font mb-0">The Luxury Collection</p>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto small-font">
        <% if user_signed_in? %>
          <%# <li class="nav-item active">
            <%= link_to "Profile", user_path(current_user), class: "nav-link small-font" %>
          <%# </li> %>
          <% if current_user.photo.attached? %>
            <div class="dropdown show">
              <%= cl_image_tag(current_user.photo.key, class: "avatar dropdown-toggle profile-pic", role:"button", id: "dropdownMenuLink", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <%= link_to "Your profile", user_path(current_user), class: "dropdown-item small-font" %>
                <%= link_to "Wishlist", product_wishlists_path(current_user), class: "dropdown-item small-font" %>
                <%= link_to "Edit profile", edit_user_registration_path, class: "dropdown-item small-font" %>
                <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item small-font", data: {turbo_method: :delete} %>
              </div>
            </div>
          <% else %>
            <%= image_tag "avatar.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Your profile", user_path(current_user), class: "dropdown-item small-font" %>
              <%= link_to "Wishlist", "#", class: "dropdown-item small-font" %>
              <%= link_to "Edit profile", edit_user_registration_path, class: "dropdown-item small-font" %>
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item small-font", data: {turbo_method: :delete} %>
            </div>
          <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to "LOGIN", new_user_session_path, class: "small-font" %>
          <li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid">
  <hr>
</div>
