<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <p class="logo-font mb-0">The Luxury Collection</p>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto small-font">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Profile", user_path(current_user), class: "nav-link small-font" %>
          </li>
          <li class="nav-item dropdown">
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item small-font" %>
              <%= link_to "Another action", "#", class: "dropdown-item small-font" %>
              <%= link_to "Log out", "#", class: "dropdown-item small-font", data: {turbo_method: :delete} %>
            </div>
          </li>
        <% else %>
          <li>
            <%= link_to "LOGIN", new_user_session_path, class: "small-font" %>
          <li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid">
  <hr>
</div>
